@import "styles/variables/main.scss";

.image {
  overflow: hidden;
  height: auto;
  img {
    width: 100%;
  }
}

.avatar {
  border-radius: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  // padding-bottom: 100%; //TODO:?????
  img {
    object-fit: cover;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
