$white: #fff;
$gray: #616161;
$gray-light2: #efebe9;
$gray-light: #8e8e8e;
$gray-dark: #373737;

$primary-color: #285fe0;
$primary-light-color: #64b5f6;
$primary-dark-color: #0039cb;
$primary-text-color: #fff;

$secondary-color: #673ab7;
$secondary-light-color: #9a67ea;
$secondary-dark-color: #320b86;
$secondary-text-color: #fff;

$success-color: #64dd17;
$success-light-color: #9cff57;
$success-dark-color: #1faa00;
$success-text-color: #000;

$warning-color: #ffd600;
$warning-light-color: #ffff52;
$warning-dark-color: #c7a500;
$warning-text-color: #000;

$error-color: #ff3d00;
// $error-light-color: #ff7539;
$error-light-color: #f4511e;
$error-dark-color: #c30000;
$error-text-color: #000;

$background-color: #e3f2fd;
$background-light-color: #ffffff;
$background-dark-color: #b1bfca;
