@import "styles/variables/main.scss";

.container {
  width: 100%;
  max-width: 600px;
  // height: 100%;
  .content {
    width: 100%;
    // height: 100%;
    height: calc(100vh - 56px - 15 * #{$size-step});
    height: calc(var(--vh, 1vh) * 100 - 56px - 15 * #{$size-step});
    margin: auto;
    // margin-top: $size-step;
  }
}
